<div class="page">

  <h1>Todays Food</h1>

  <div class= "searchbar">
    <input (keyup)="searchMeal()" 
    id= "myInput" 
    name = "searchInput" 
    type="text" 
    class="searchTerm" 
    placeholder="What are you looking for?"
    [(ngModel)]="searchedFood">

    <button (click)="searchMeal(foodSearch)" type="submit" class="searchButton">
      <i class="fa fa-search"></i>
    </button>
  </div>

  <button (click)="showForm()" type="submit" class="addButton">ADD</button>

  <div id="myForm">

    <div class="add">
      <label>Name: </label>
      <input #nameInput type="text" [(ngModel)]="newFoods.name">

      <label>Calories: </label>
      <input #calorieInput type="text" [(ngModel)]="newFoods.calories">

      <label>Image: </label>
      <input #imageInput type="text" [(ngModel)]="newFoods.image">
      
      <button (click)="addMeal(nameInput, calorieInput, imageInput)">Submit</button>
    </div>
    
  </div>

  <div class="scroll">
  <div *ngFor = "let oneFood of newArray" class="food">
    <div class="name">
      <h2>{{oneFood.name}}</h2>
      <button class="likeButton">Add To Menu</button>
    </div>
    <span>Calories: {{oneFood.calories}}</span>
    <img [src]="oneFood.image" alt="">
    
  </div>
</div>

</div>
